<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td><a  style="color:hotpink;font-size:1.2em;text-decoration: none;" routerLink="/timesheet/{{item.id}}">{{item.code}}</a></td>
        <td><a  style="color:hotpink;font-size:1.2em;text-decoration: none;" routerLink="/timesheet/{{item.id}}">{{item.name}}</a></td>
        <td style="text-align:right">{{item.totalHoursWorked.toFixed(2) }}</td>
        <td style="text-align:right">{{item.averageHoursWorked.toFixed(2)}}</td>
    </tr>
</table>