
<mat-card>
	<table style="width:100%">
		<tr>
				<td>
						<h1>Timesheet List</h1>
				</td>
				<td>
					<table>
						<tr>
							<td>
							
								<button mat-icon-button (click)="prevWeek();">
								<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
							  </button>
							</td>
							<td>	<h3>Week</h3></td>
							<td>	
								<button mat-icon-button (click)="nextWeek();">
								<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
							  </button>
							
							</td>
						</tr>
					</table> 
				</td>				
				<td style="text-align:right" > 
					<mat-form-field class="data-emp-select">
						<mat-select placeholder="Select Employee" [(ngModel)]="employeeId"  (selectionChange)="employeeChanged($event.value)">
							<mat-option *ngFor="let emp of employees" [value]="emp.id" >
									{{emp.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</td>
				<td style="text-align:right">
					<button mat-fab class="right: 0px;">
							<mat-icon aria-label="Add time"  (click)="add();" >add</mat-icon>
					</button>
				</td>
		</tr>
	</table> 
</mat-card>  


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<!--- Note that these columns can be defined in any order.
			  The actual rendered columns are set as a property on the row definition" -->
	  
		<!-- Position Column -->
		<ng-container matColumnDef="name">
		  <th mat-header-cell *matHeaderCellDef> TaskName </th>
		  <td mat-cell *matCellDef="let element" class="data-emp-select-td">
			<mat-form-field class="data-emp-select">
					<mat-select  [(ngModel)]="element.taskId" [disabled]="element.taskId > 0 && element.TaskName!=''" >
						<mat-option *ngFor="let task of tasks" [value]="task.id" >{{task.name}}</mat-option>
					</mat-select>
				</mat-form-field>
		 	</td>
		  <!--<td mat-cell *matCellDef="let element"> {{element.taskName}} </td>-->
		  <td mat-footer-cell *matFooterCellDef> Summary </td>
		</ng-container>
	  
		<!-- Name Column -->
		<ng-container matColumnDef="sunday">
		  <th mat-header-cell *matHeaderCellDef> Sunday </th>
		  <td mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input class="input-data"  matInput placeholder="Work Hour" [value]="element.sunday.hoursWorked" [(ngModel)]="element.sunday.hoursWorked">
				</mat-form-field>
			</td >  
		  <td mat-footer-cell *matFooterCellDef> <span class="data-summary" >{{getSundayCost()}} </span> </td>
		</ng-container> 

		<ng-container matColumnDef="monday">
			<th mat-header-cell *matHeaderCellDef> Monday </th>
			<td mat-cell *matCellDef="let element">
					<mat-form-field floatLabel="never">
						<input class="input-data"  matInput placeholder="Work Hour" [value]="element.monday.hoursWorked" [(ngModel)]="element.monday.hoursWorked">
					</mat-form-field>
				</td> 
			<td mat-footer-cell *matFooterCellDef> <span class="data-summary" > {{getMondayCost()}}</span> </td>
		</ng-container> 

		<ng-container matColumnDef="tuesday">
			<th mat-header-cell *matHeaderCellDef> Tuesday </th>
			<td mat-cell *matCellDef="let element">
					<mat-form-field floatLabel="never">
						<input class="input-data"  matInput placeholder="Work Hour" [value]="element.tuesday.hoursWorked" [(ngModel)]="element.tuesday.hoursWorked">
					</mat-form-field>
				</td> 
			<td mat-footer-cell *matFooterCellDef> <span class="data-summary" >{{getTuesdayCost()}}</span>  </td>
		</ng-container> 

		<ng-container matColumnDef="wednesday">
			<th mat-header-cell *matHeaderCellDef> Wednesday </th>
			<td mat-cell *matCellDef="let element">
					<mat-form-field floatLabel="never">
						<input class="input-data"  matInput placeholder="Work Hour" [value]="element.wednesday.hoursWorked" [(ngModel)]="element.wednesday.hoursWorked">
					</mat-form-field>
				</td> 
			<td mat-footer-cell *matFooterCellDef> <span class="data-summary" >{{getWednesdayCost()}}</span>  </td>
		</ng-container> 

		<ng-container matColumnDef="thursday">
			<th mat-header-cell *matHeaderCellDef> Thursday </th>
			<td mat-cell *matCellDef="let element">
					<mat-form-field floatLabel="never">
						<input class="input-data"  matInput placeholder="Work Hour" [value]="element.thursday.hoursWorked" [(ngModel)]="element.thursday.hoursWorked">
					</mat-form-field>
				</td> 
			<td mat-footer-cell *matFooterCellDef> <span class="data-summary" > {{getThursdayCost()}} </span></td>
		</ng-container> 

		<ng-container matColumnDef="friday">
			<th mat-header-cell *matHeaderCellDef> Friday </th>
			<td mat-cell *matCellDef="let element">
					<mat-form-field floatLabel="never">
						<input class="input-data"  matInput placeholder="Work Hour" [value]="element.friday.hoursWorked" [(ngModel)]="element.friday.hoursWorked">
					</mat-form-field>
				</td> 
			<td mat-footer-cell *matFooterCellDef><span class="data-summary" > {{getFridayCost()}} </span></td>
		</ng-container> 

		<ng-container matColumnDef="saturday">
			<th mat-header-cell *matHeaderCellDef> Saturday </th>
			<td mat-cell *matCellDef="let element">
					<mat-form-field floatLabel="never">
						<input class="input-data"  matInput placeholder="Work Hour" [value]="element.saturday.hoursWorked" [(ngModel)]="element.saturday.hoursWorked">
					</mat-form-field>
				</td> 
			<td mat-footer-cell *matFooterCellDef> <span class="data-summary" >{{getSaturdayCost()}} </span></td>
		</ng-container>  

	  
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
	  </table>

 
<mat-toolbar color="secondary">
	<mat-toolbar-row> 
		<div>&nbsp;</div>
		<span class="example-spacer"></span> 
		<button mat-raised-button color="primary"  routerLink="/employee" style="text-align:right;margin-right: 1em;">
			Back
		  </button>
		<button mat-raised-button color="primary" (click)="save();" style="text-align:right;">Save</button>	
	</mat-toolbar-row>
</mat-toolbar>
  