h1{
    color: grey
}

.table {
    border-collapse: collapse;
    width: 100%;
    td, th{
        border: 1px solid #ddd;
        padding: 7px;
    }  
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1c6ca5;
        color: white;
      }
      tr:hover {background-color: #ddd;}
  }
  
  .btn{
      float:right;
      margin-left: 10px;
      margin-top:20px;
  }

  .btn-add{
    float:right;
    margin-left: 10px;
    margin-top:-20px;
}


.input-data{
    height: 25px;
    border: 0px;
    padding: 5px;
    text-align: right;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 60px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  table.mat-table{
      width:100%;
  }

  .data-summary{
      width:55px;
      display: inline-block;
      text-align: right; 
  }

  .mat-footer-row{
      background-color: #eeeeee;
  }

  .mat-header-cell {
    font-size: 14px;
    font-weight: bolder;
    background-color: #dddddd;
}

