<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button  routerLink="/employee">
          <mat-icon aria-label="Example icon-button with a heart icon">keyboard_backspace</mat-icon>
        </button>
    <span>Employee</span>
    <span class="example-spacer"></span> 
    <button mat-icon-button  routerLink="/timesheet">
      <mat-icon aria-label="Example icon-button with a heart icon">access_time</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
 